In [1]:
# importing libraries.
import numpy as np 
import pandas as pd 
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_rows', 100)
import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [3]:
# Reading train dataset.
train = pd.read_csv('C:\\Users\\2216027\\kaggle8\\train_v2.csv.zip',index_col='id')
train.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
id,,,,,,,,,,,,,,,,,,,,,
1,126,10,0.69,1100,3,13699,7201.00,4949.00,126.75,126.03,...,5,2.14,-1.54,1.18,0.18,0.79,1,0,5,0
2,121,10,0.78,1100,3,84645,240.00,1625.00,123.52,121.35,...,6,0.54,-0.24,0.13,0.19,-0.68,1,0,5,0
3,126,10,0.50,1100,3,83607,1800.00,1527.00,127.76,126.49,...,13,2.89,-1.73,1.04,0.25,0.73,1,0,5,0
4,134,10,0.44,1100,3,82642,7542.00,1730.00,132.94,133.58,...,4,1.29,-0.89,0.66,0.25,0.71,1,0,5,0
5,109,9,0.50,2900,4,79124,89.00,491.00,122.72,112.77,...,26,6.11,-3.82,2.51,0.23,-0.54,0,0,5,0

In [4]:
# Showing information about train data.
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105471 entries, 1 to 105471
Columns: 770 entries, f1 to loss
dtypes: float64(653), int64(98), object(19)
memory usage: 620.4+ MB

In [5]:
# Reading test dataset.
test = pd.read_csv('C:\\Users\\2216027\\kaggle8\\test_v2.csv.zip',index_col='id')
test.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f769,f770,f771,f772,f773,f774,f775,f776,f777,f778
id,,,,,,,,,,,,,,,,,,,,,
105472,147,6,0.49,1100,17.00,75506,964.00,12686.00,152.63,115.91,...,-8.71,19,3.30,-9.37,0.50,0.05,-1.07,0,1,1079
105473,156,6,0.73,5400,3.00,79754,1455.00,4803.00,153.95,155.50,...,-13.26,24,9.53,-7.55,6.22,0.30,0.61,0,1,36
105474,132,9,0.90,2200,16.00,113,5735.00,2387.00,130.61,131.96,...,-4.99,9,3.25,-2.33,1.69,0.23,0.42,0,0,393
105475,128,7,0.04,1300,4.00,3793,4689.00,3469.00,120.50,121.93,...,-16.83,11,0.26,-5.31,0.78,0.28,-0.77,0,0,394
105476,119,10,0.44,1300,16.00,13026,2788.00,7438.00,127.00,125.98,...,-20.00,10,13.55,-0.61,0.01,0.18,-1.08,0,0,23

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210944 entries, 105472 to 316415
Columns: 769 entries, f1 to f778
dtypes: float64(654), int64(95), object(19), uint64(1)
memory usage: 1.2+ GB

In [7]:
# Creating a function that shows how many null values in the data.
def df_nulls(df):
    isnull = df.isnull().sum().sort_values(ascending=False).to_frame() 
    isnull.columns = ['How_many']
    isnull['precentage'] = np.around(((isnull / len(df) * 100)[(isnull / len(df) * 100) != 0]), decimals=2)
    print (f"Your selected dataframe has  {str(df.shape[1])} columns.\n There are  {str(len(isnull[isnull.How_many>0]))} columns that have missing values.")
    return isnull

In [8]:
# how many null values in train data.
df_nulls(train).head(20)

Your selected dataframe has  770 columns.
 There are  525 columns that have missing values.

      How_many  precentage
f662     18833       17.86
f663     18833       17.86
f159     18736       17.76
f160     18736       17.76
f169     18417       17.46
f170     18417       17.46
f618     18407       17.45
f619     18407       17.45
f331     18067       17.13
f330     18067       17.13
f180     17162       16.27
f179     17162       16.27
f422     14235       13.50
f653     13205       12.52
f190     12234       11.60
f189     12234       11.60
f341     11911       11.29
f340     11911       11.29
f666     11282       10.70
f667     11282       10.70

In [9]:
# how many null values in test data.
df_nulls(test).head(20)

Your selected dataframe has  769 columns.
 There are  530 columns that have missing values.

      How_many  precentage
f663     36514       17.31
f662     36514       17.31
f159     35818       16.98
f160     35818       16.98
f619     34030       16.13
f618     34030       16.13
f170     33764       16.01
f169     33764       16.01
f331     33594       15.93
f330     33594       15.93
f179     32708       15.51
f180     32708       15.51
f422     26034       12.34
f653     25980       12.32
f189     22586       10.71
f190     22586       10.71
f666     21916       10.39
f664     21916       10.39
f667     21916       10.39
f665     21916       10.39

In [10]:
# Geting the names of the numrical columns.
num_columns = [column for column in train.columns if train[column].dtype != 'object']
num_columns

['f1',
 'f2',
 'f3',
 'f4',
 'f5',
 'f6',
 'f7',
 'f8',
 'f9',
 'f10',
 'f13',
 'f14',
 'f15',
 'f16',
 'f17',
 'f18',
 'f19',
 'f20',
 'f21',
 'f22',
 'f23',
 'f24',
 'f25',
 'f26',
 'f27',
 'f28',
 'f29',
 'f30',
 'f31',
 'f32',
 'f33',
 'f34',
 'f35',
 'f36',
 'f37',
 'f38',
 'f39',
 'f40',
 'f41',
 'f42',
 'f43',
 'f44',
 'f45',
 'f46',
 'f47',
 'f48',
 'f49',
 'f50',
 'f51',
 'f52',
 'f53',
 'f54',
 'f55',
 'f56',
 'f57',
 'f58',
 'f59',
 'f60',
 'f61',
 'f62',
 'f63',
 'f64',
 'f65',
 'f66',
 'f67',
 'f68',
 'f69',
 'f70',
 'f71',
 'f72',
 'f73',
 'f74',
 'f75',
 'f76',
 'f77',
 'f78',
 'f79',
 'f80',
 'f81',
 'f82',
 'f83',
 'f84',
 'f85',
 'f86',
 'f87',
 'f88',
 'f89',
 'f90',
 'f91',
 'f92',
 'f93',
 'f94',
 'f95',
 'f96',
 'f97',
 'f98',
 'f99',
 'f100',
 'f101',
 'f102',
 'f103',
 'f104',
 'f105',
 'f106',
 'f107',
 'f108',
 'f109',
 'f110',
 'f111',
 'f112',
 'f113',
 'f114',
 'f115',
 'f116',
 'f117',
 'f118',
 'f119',
 'f120',
 'f121',
 'f122',
 'f123',
 'f124',
 'f125',
 'f126',
 'f127',
 'f128',
 'f129',
 'f130',
 'f131',
 'f132',
 'f133',
 'f134',
 'f135',
 'f136',
 'f139',
 'f140',
 'f141',
 'f142',
 'f143',
 'f144',
 'f145',
 'f146',
 'f147',
 'f148',
 'f149',
 'f150',
 'f151',
 'f152',
 'f153',
 'f154',
 'f155',
 'f156',
 'f157',
 'f158',
 'f159',
 'f160',
 'f161',
 'f162',
 'f163',
 'f164',
 'f165',
 'f166',
 'f167',
 'f168',
 'f169',
 'f170',
 'f171',
 'f172',
 'f173',
 'f174',
 'f175',
 'f176',
 'f177',
 'f178',
 'f179',
 'f180',
 'f181',
 'f182',
 'f183',
 'f184',
 'f185',
 'f186',
 'f187',
 'f188',
 'f189',
 'f190',
 'f191',
 'f192',
 'f193',
 'f194',
 'f195',
 'f196',
 'f197',
 'f198',
 'f199',
 'f200',
 'f201',
 'f202',
 'f203',
 'f204',
 'f205',
 'f208',
 'f209',
 'f210',
 'f211',
 'f212',
 'f213',
 'f214',
 'f215',
 'f216',
 'f217',
 'f218',
 'f219',
 'f220',
 'f221',
 'f222',
 'f223',
 'f224',
 'f225',
 'f226',
 'f227',
 'f228',
 'f229',
 'f230',
 'f231',
 'f232',
 'f233',
 'f234',
 'f235',
 'f236',
 'f237',
 'f238',
 'f239',
 'f240',
 'f241',
 'f242',
 'f243',
 'f244',
 'f245',
 'f246',
 'f247',
 'f248',
 'f249',
 'f250',
 'f251',
 'f252',
 'f253',
 'f254',
 'f255',
 'f256',
 'f257',
 'f258',
 'f259',
 'f260',
 'f261',
 'f262',
 'f263',
 'f264',
 'f265',
 'f266',
 'f267',
 'f268',
 'f269',
 'f270',
 'f271',
 'f272',
 'f273',
 'f274',
 'f275',
 'f278',
 'f279',
 'f280',
 'f281',
 'f282',
 'f283',
 'f284',
 'f285',
 'f286',
 'f287',
 'f288',
 'f289',
 'f290',
 'f291',
 'f292',
 'f293',
 'f294',
 'f295',
 'f296',
 'f297',
 'f298',
 'f299',
 'f300',
 'f301',
 'f302',
 'f303',
 'f304',
 'f305',
 'f306',
 'f307',
 'f308',
 'f309',
 'f310',
 'f311',
 'f312',
 'f313',
 'f314',
 'f315',
 'f316',
 'f317',
 'f318',
 'f319',
 'f320',
 'f321',
 'f322',
 'f323',
 'f324',
 'f325',
 'f326',
 'f327',
 'f328',
 'f329',
 'f330',
 'f331',
 'f332',
 'f333',
 'f334',
 'f335',
 'f336',
 'f337',
 'f339',
 'f340',
 'f341',
 'f342',
 'f343',
 'f344',
 'f345',
 'f346',
 'f347',
 'f348',
 'f349',
 'f350',
 'f351',
 'f352',
 'f353',
 'f354',
 'f355',
 'f356',
 'f357',
 'f358',
 'f359',
 'f360',
 'f361',
 'f362',
 'f363',
 'f364',
 'f365',
 'f366',
 'f367',
 'f368',
 'f369',
 'f370',
 'f371',
 'f372',
 'f373',
 'f374',
 'f375',
 'f376',
 'f377',
 'f378',
 'f379',
 'f380',
 'f381',
 'f382',
 'f383',
 'f384',
 'f385',
 'f386',
 'f387',
 'f388',
 'f389',
 'f392',
 'f393',
 'f394',
 'f395',
 'f396',
 'f397',
 'f398',
 'f399',
 'f400',
 'f401',
 'f402',
 'f403',
 'f404',
 'f405',
 'f406',
 'f407',
 'f408',
 'f409',
 'f410',
 'f411',
 'f412',
 'f413',
 'f414',
 'f415',
 'f416',
 'f417',
 'f418',
 'f421',
 'f422',
 'f423',
 'f424',
 'f425',
 'f426',
 'f427',
 'f428',
 'f429',
 'f430',
 'f431',
 'f432',
 'f433',
 'f434',
 'f435',
 'f436',
 'f437',
 'f438',
 'f439',
 'f440',
 'f441',
 'f442',
 'f443',
 'f444',
 'f445',
 'f446',
 'f447',
 'f448',
 'f449',
 'f450',
 'f451',
 'f452',
 'f453',
 'f454',
 'f455',
 'f456',
 'f457',
 'f458',
 'f459',
 'f460',
 'f461',
 'f464',
 'f465',
 'f466',
 'f467',
 'f468',
 'f470',
 'f471',
 'f475',
 'f476',
 'f477',
 'f478',
 'f479',
 'f480',
 'f481',
 'f482',
 'f483',
 'f484',
 'f485',
 'f486',
 'f487',
 'f488',
 'f489',
 'f490',
 'f491',
 'f492',
 'f493',
 'f494',
 'f495',
 'f496',
 'f497',
 'f498',
 'f499',
 'f500',
 'f501',
 'f502',
 'f503',
 'f504',
 'f505',
 'f506',
 'f507',
 'f508',
 'f509',
 'f510',
 'f511',
 'f512',
 'f513',
 'f514',
 'f515',
 'f516',
 'f517',
 'f518',
 'f519',
 'f520',
 'f521',
 'f522',
 'f523',
 'f524',
 'f525',
 'f526',
 'f527',
 'f528',
 'f529',
 'f530',
 'f531',
 'f532',
 'f533',
 'f535',
 'f536',
 'f538',
 'f539',
 'f540',
 'f541',
 'f542',
 'f543',
 'f544',
 'f545',
 'f546',
 'f547',
 'f548',
 'f549',
 'f550',
 'f551',
 'f552',
 'f553',
 'f554',
 'f555',
 'f556',
 'f557',
 'f558',
 'f559',
 'f560',
 'f561',
 'f562',
 'f563',
 'f564',
 'f565',
 'f566',
 'f567',
 'f568',
 'f569',
 'f570',
 'f571',
 'f572',
 'f573',
 'f574',
 'f575',
 'f576',
 'f577',
 'f578',
 'f579',
 'f580',
 'f581',
 'f582',
 'f583',
 'f584',
 'f585',
 'f586',
 'f587',
 'f588',
 'f589',
 'f590',
 'f591',
 'f592',
 'f593',
 'f594',
 'f595',
 'f596',
 'f597',
 'f598',
 'f599',
 'f600',
 'f601',
 'f604',
 'f606',
 'f607',
 'f608',
 'f609',
 'f610',
 'f611',
 'f612',
 'f613',
 'f614',
 'f615',
 'f616',
 'f617',
 'f618',
 'f619',
 'f620',
 'f621',
 'f622',
 'f623',
 'f624',
 'f625',
 'f628',
 'f629',
 'f630',
 'f631',
 'f632',
 'f633',
 'f634',
 'f635',
 'f636',
 'f637',
 'f638',
 'f639',
 'f640',
 'f641',
 'f642',
 'f643',
 'f644',
 'f645',
 'f646',
 'f647',
 'f648',
 'f649',
 'f650',
 'f651',
 'f652',
 'f653',
 'f654',
 'f655',
 'f656',
 'f657',
 'f658',
 'f659',
 'f660',
 'f661',
 'f662',
 'f663',
 'f664',
 'f665',
 'f666',
 'f667',
 'f668',
 'f669',
 'f670',
 'f671',
 'f672',
 'f673',
 'f674',
 'f675',
 'f676',
 'f677',
 'f678',
 'f679',
 'f680',
 'f681',
 'f682',
 'f683',
 'f684',
 'f685',
 'f686',
 'f687',
 'f688',
 'f689',
 'f690',
 'f691',
 'f692',
 'f693',
 'f694',
 'f696',
 'f697',
 'f699',
 'f700',
 'f701',
 'f702',
 'f703',
 'f704',
 'f705',
 'f706',
 'f707',
 'f708',
 'f709',
 'f710',
 'f711',
 'f712',
 'f713',
 'f714',
 'f715',
 'f716',
 'f717',
 'f718',
 'f719',
 'f720',
 'f721',
 'f722',
 'f723',
 'f724',
 'f725',
 'f726',
 'f727',
 'f728',
 'f729',
 'f730',
 'f731',
 'f732',
 'f733',
 'f734',
 'f735',
 'f736',
 'f737',
 'f738',
 'f739',
 'f740',
 'f741',
 'f742',
 'f743',
 'f744',
 'f745',
 'f746',
 'f747',
 'f748',
 'f749',
 'f750',
 'f751',
 'f752',
 'f753',
 'f754',
 'f755',
 'f756',
 'f757',
 'f758',
 'f759',
 'f760',
 'f761',
 'f762',
 'f763',
 'f764',
 'f765',
 'f766',
 'f767',
 'f768',
 'f769',
 'f770',
 'f771',
 'f772',
 'f773',
 'f774',
 'f775',
 'f776',
 'f777',
 'f778',
 'loss']

In [11]:
test = test[num_columns[:-1]] # chosing only the numric columns from test data (after excluding loss data).
train = train[num_columns] # chosing only the numric columns from train data

In [12]:
train.dropna(axis=0,subset = ['loss'], inplace = True) # droping row with null values in loss column.

X_train_full = train.drop(['loss'], axis =1) # droping loss column to create X train data.
y_train_full = train.loss # giving loss column to y as the target data.

X_train, X_valid, y_train, y_valid = train_test_split(X_train_full,y_train_full,test_size=0.2, random_state=42) # spliting the data to train and validation data.

In [13]:
# A numrical transformer.
num_trans = Pipeline(steps = [
    ('imputer',SimpleImputer(strategy='mean')),
    ('scaler',StandardScaler())
])

num_columns.remove('loss')

# A preprocessor that combines the two previous transformers.
preprocessor = ColumnTransformer(transformers = [
    ('num', num_trans, num_columns)
],
    remainder = "drop")

In [14]:
X_train_trans = preprocessor.fit_transform(X_train) # Preprocessing train data.
X_valid_trans = preprocessor.transform(X_valid) # Preprocessing validation data.

In [15]:
X_train_trans.shape # chincking the shape of the preprocessed data.

(84376, 750)

In [16]:
# creating a function that transform the preprocessed data that is in numpy array form to DataFrame form.
def array_to_df(arr):
    return pd.DataFrame(data = arr,columns = X_train.columns)

In [17]:
X_train_trans = array_to_df(X_train_trans)
X_valid_trans = array_to_df(X_valid_trans)

In [18]:
# creating a LogisticRegression model that will help us choosing the right features.
from sklearn.linear_model import LogisticRegression

my_model = LogisticRegression().fit(X_train_trans, y_train)

In [21]:
pip install eli5

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.

Collecting eli5
  Downloading eli5-0.13.0.tar.gz (216 kB)
Requirement already satisfied: attrs>17.1.0 in c:\programdata\anaconda3\lib\site-packages (from eli5) (21.4.0)
Collecting jinja2>=3.0.0
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
Requirement already satisfied: numpy>=1.9.0 in c:\users\2216027\appdata\roaming\python\python39\site-packages (from eli5) (1.22.4)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from eli5) (1.7.3)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from eli5) (1.16.0)
Requirement already satisfied: scikit-learn>=0.20 in c:\programdata\anaconda3\lib\site-packages (from eli5) (1.0.2)
Requirement already satisfied: graphviz in c:\users\2216027\appdata\roaming\python\python39\site-packages (from eli5) (0.20.1)
Requirement already satisfied: tabulate>=0.7.7 in c:\programdata\anaconda3\lib\site-packages (from eli5) (0.8.9)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=3.0.0->eli5) (2.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20->eli5) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\2216027\appdata\roaming\python\python39\site-packages (from scikit-learn>=0.20->eli5) (1.2.0)
Building wheels for collected packages: eli5
  Building wheel for eli5 (setup.py): started
  Building wheel for eli5 (setup.py): still running...
  Building wheel for eli5 (setup.py): finished with status 'done'
  Created wheel for eli5: filename=eli5-0.13.0-py2.py3-none-any.whl size=107748 sha256=0a10e05543a25e86cf17a79f921359fde7e8e4d662e184ccbf30458418b343a6
  Stored in directory: c:\users\2216027\appdata\local\pip\cache\wheels\7b\26\a5\8460416695a992a2966b41caa5338e5e7fcea98c9d032d055c
Successfully built eli5
Installing collected packages: jinja2, eli5
Successfully installed eli5-0.13.0 jinja2-3.1.2

anaconda-project 0.10.2 requires ruamel-yaml, which is not installed.
jupyter-server 1.13.5 requires pywinpty<2; os_name == "nt", but you have pywinpty 2.0.2 which is incompatible.

In [22]:
# Geting the most effictive features on predictions.
import eli5
from eli5.sklearn import PermutationImportance

perm = PermutationImportance(my_model, random_state=1).fit(X_valid_trans.head(1000), y_valid.head(1000))
eli5.show_weights(perm, feature_names = X_valid_trans.columns.tolist())

In [23]:
# Choosing inly the important features
from sklearn.feature_selection import SelectFromModel

sel = SelectFromModel(perm, threshold=0.001, prefit=True)
X_train_super_trans = sel.transform(X_train_trans)
X_valid_super_trans = sel.transform(X_valid_trans)

In [24]:
# checking the shape of the filtered data.
X_train_super_trans.shape

(84376, 47)

In [25]:
train.shape

(105471, 751)

In [26]:
# Creating functions to get the cross validation score.
from sklearn.model_selection import cross_val_score

def cross_val(X_train_super_trans, y_train, model):
    # Applying k-Fold Cross Validation
    accuracies = cross_val_score(estimator = model, X = X_train_super_trans, y = y_train, cv = 5)
    return accuracies.mean()

# Takes in a model, trains the model, and evaluates the model on the test set
def fit_and_evaluate(model):
    
    # Train the model
    model.fit(X_train_super_trans, y_train)
    
    # evalute
    model_cross = cross_val(X_train_super_trans, y_train, model)
    
    # Return the performance metric
    return model_cross

In [27]:
#model

In [28]:
# # Random Forest Classification
from sklearn.ensemble import RandomForestClassifier
random = RandomForestClassifier(n_estimators = 10, criterion = 'entropy')
random_cross = fit_and_evaluate(random)

print('Random Forest Performance on the test set: Cross Validation Score = %0.4f' % random_cross)

Random Forest Performance on the test set: Cross Validation Score = 0.9073

In [29]:
# Preprocessing and filtering the whole train and test data after checking its Cross Validation Score.
new_train = preprocessor.fit_transform(X_train_full)
new_test = preprocessor.transform(test)

new_train = sel.transform(new_train)
new_test = sel.transform(new_test)

In [32]:
# reading the sample submission dataset
submission = pd.read_csv('C:\\Users\\2216027\\kaggle8\\sampleSubmission.csv.zip')
submission.head()

       id  loss
0  105472     0
1  105473     0
2  105474     0
3  105475     0
4  105476     0

In [33]:
# fitting the RandomForestClassifier with the whole train data to make it's predictions more accurate.
random.fit(new_train,y_train_full)

submission.loss = random.predict(new_test)

submission.head(40)

        id  loss
0   105472     0
1   105473     0
2   105474     0
3   105475     0
4   105476     0
5   105477     0
6   105478     0
7   105479     0
8   105480     0
9   105481     0
10  105482     0
11  105483     0
12  105484     0
13  105485     0
14  105486     0
15  105487     0
16  105488     0
17  105489     0
18  105490     0
19  105491     0
20  105492     0
21  105493     0
22  105494     0
23  105495     0
24  105496     0
25  105497     0
26  105498     0
27  105499     0
28  105500     0
29  105501     0
30  105502     0
31  105503     0
32  105504     0
33  105505     0
34  105506     0
35  105507     0
36  105508     0
37  105509     0
38  105510     0
39  105511     0

In [34]:
submission.loss.unique()

array([ 0,  2,  1,  4,  6,  3,  8, 10,  5], dtype=int64)

In [35]:
# Making submission.
submission.to_csv('submission.csv', index=False, header=True)