In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/recruit-restaurant-visitor-forecasting/air_reserve.csv.zip
/kaggle/input/recruit-restaurant-visitor-forecasting/hpg_store_info.csv.zip
/kaggle/input/recruit-restaurant-visitor-forecasting/hpg_reserve.csv.zip
/kaggle/input/recruit-restaurant-visitor-forecasting/sample_submission.csv.zip
/kaggle/input/recruit-restaurant-visitor-forecasting/air_visit_data.csv.zip
/kaggle/input/recruit-restaurant-visitor-forecasting/air_store_info.csv.zip
/kaggle/input/recruit-restaurant-visitor-forecasting/date_info.csv.zip
/kaggle/input/recruit-restaurant-visitor-forecasting/store_id_relation.csv.zip

# Installing library

In [ ]:
! pip install ipython-autotime

Collecting ipython-autotime
  Downloading ipython_autotime-0.3.1-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.7/site-packages (from ipython-autotime) (7.33.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from ipython->ipython-autotime) (3.0.30)
Requirement already satisfied: backcall in /opt/conda/lib/python3.7/site-packages (from ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.7/site-packages (from ipython->ipython-autotime) (0.1.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.7/site-packages (from ipython->ipython-autotime) (5.1.1)
Requirement already satisfied: pygments in /opt/conda/lib/python3.7/site-packages (from ipython->ipython-autotime) (2.12.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.7/site-packages (from ipython->ipython-autotime) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.7/site-packages (from ipython->ipython-autotime) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.7/site-packages (from ipython->ipython-autotime) (59.8.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.7/site-packages (from ipython->ipython-autotime) (5.3.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.7/site-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.7/site-packages (from jedi>=0.16->ipython->ipython-autotime) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.7/site-packages (from pexpect>4.3->ipython->ipython-autotime) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-autotime) (0.2.5)
Installing collected packages: ipython-autotime
Successfully installed ipython-autotime-0.3.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
%load_ext autotime

time: 337 µs (started: 2023-01-02 07:24:43 +00:00)

# Import libraries

In [ ]:
from pathlib import Path

time: 473 µs (started: 2023-01-02 07:24:44 +00:00)

In [ ]:
from zipfile import ZipFile

time: 454 µs (started: 2023-01-02 07:24:44 +00:00)

In [ ]:
import pandas
import numpy

time: 491 µs (started: 2023-01-02 07:24:44 +00:00)

# Explore data

In [ ]:
# explore the data

def print_tree(root_dir):
    for root, dirs, files in os.walk(root_dir):
        level = root.replace(root_dir, '').count(os.sep)
        indent = ' ' * 4 * level
        print(f'{indent}[{os.path.basename(root)}]')
        subindent = ' ' * 4 * (level + 1)
        for file in files:
            print(f'{subindent}{file}')

# Print the tree map of all files in the current directory
print_tree('/kaggle/input')

[input]
    [recruit-restaurant-visitor-forecasting]
        air_reserve.csv.zip
        hpg_store_info.csv.zip
        hpg_reserve.csv.zip
        sample_submission.csv.zip
        air_visit_data.csv.zip
        air_store_info.csv.zip
        date_info.csv.zip
        store_id_relation.csv.zip
time: 4.79 ms (started: 2023-01-02 07:24:44 +00:00)

In [ ]:
csv_folder = Path('/kaggle/input/recruit-restaurant-visitor-forecasting/')

time: 633 µs (started: 2023-01-02 07:24:44 +00:00)

In [ ]:
# extract all the zip files in the folder 

for zipfiles in os.listdir(csv_folder):
    with ZipFile(csv_folder/zipfiles, 'r') as zip_ref:
        zip_ref.extractall('/data')

time: 1.23 s (started: 2023-01-02 07:24:44 +00:00)

In [ ]:
# list of the files in the 'csv folder'
os.listdir('/data/')

['date_info.csv',
 'air_reserve.csv',
 'hpg_store_info.csv',
 'hpg_reserve.csv',
 'air_visit_data.csv',
 'sample_submission.csv',
 'air_store_info.csv',
 'store_id_relation.csv']

time: 6.47 ms (started: 2023-01-02 07:24:45 +00:00)

In [ ]:
data_path = Path('/data/')

time: 455 µs (started: 2023-01-02 07:24:45 +00:00)

# Load the data

In [ ]:
#idea to work on : cost to solve the problem 
# taking another approach
# to create the variable

#csv variable
date_info_csv= data_path/'date_info.csv'

air_reserve_csv = data_path/'air_reserve.csv'
air_store_info_csv = data_path/'air_store_info.csv'

air_visit_data_csv = data_path/'air_visit_data.csv'

hpg_store_info_csv  = data_path/'hpg_store_info.csv'
hpg_reserve_csv = data_path/'hpg_reserve.csv'

store_id_relation_csv = data_path/'store_id_relation.csv'

sample_submission_csv  = data_path/'sample_submission.csv'

time: 1.13 ms (started: 2023-01-02 07:24:45 +00:00)

In [ ]:
# testing variable 
date_info_csv

PosixPath('/data/date_info.csv')

time: 4.14 ms (started: 2023-01-02 07:24:45 +00:00)

In [ ]:
# loading the pandas and explore csv files

time: 332 µs (started: 2023-01-02 07:24:45 +00:00)

In [ ]:
# explore date_info
## point to improve: forget the name of api
date_info_df = pd.read_csv(date_info_csv)
date_info_df

    calendar_date day_of_week  holiday_flg
0      2016-01-01      Friday            1
1      2016-01-02    Saturday            1
2      2016-01-03      Sunday            1
3      2016-01-04      Monday            0
4      2016-01-05     Tuesday            0
..            ...         ...          ...
512    2017-05-27    Saturday            0
513    2017-05-28      Sunday            0
514    2017-05-29      Monday            0
515    2017-05-30     Tuesday            0
516    2017-05-31   Wednesday            0

[517 rows x 3 columns]

time: 34.7 ms (started: 2023-01-02 07:24:45 +00:00)

In [ ]:

# describe the dataset 
date_info_df.describe(include='object')

       calendar_date day_of_week
count            517         517
unique           517           7
top       2016-01-01      Friday
freq               1          74

time: 25.4 ms (started: 2023-01-02 07:24:46 +00:00)

In [ ]:
## points to improve
# quickly remember the names of the variable 
# observes the variable names and remember it 


# explore the air_reserve

air_reserve_df = pd.read_csv(air_reserve_csv)
air_reserve_df

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5
...,...,...,...,...
92373,air_db4b38ebe7a7ceff,2017-05-29 18:00:00,2017-04-17 19:00:00,6
92374,air_1033310359ceeac1,2017-05-30 23:00:00,2017-04-19 17:00:00,8
92375,air_877f79706adbfb06,2017-05-31 20:00:00,2017-04-12 23:00:00,3
92376,air_900d755ebd2f7bbd,2017-05-31 20:00:00,2017-04-19 16:00:00,10
92377,air_3cad29d1a23209d2,2017-05-31 21:00:00,2017-04-22 10:00:00,3

time: 96.3 ms (started: 2023-01-02 07:24:46 +00:00)

In [ ]:
air_reserve_df.describe()

       reserve_visitors
count      92378.000000
mean           4.481749
std            4.919669
min            1.000000
25%            2.000000
50%            3.000000
75%            5.000000
max          100.000000

time: 22.2 ms (started: 2023-01-02 07:24:46 +00:00)

In [ ]:
air_reserve_df.describe(include='object')

                air_store_id       visit_datetime     reserve_datetime
count                  92378                92378                92378
unique                   314                 4975                 7513
top     air_8093d0b565e9dbdf  2016-12-24 19:00:00  2016-11-24 18:00:00
freq                    2263                  255                  106

time: 51.2 ms (started: 2023-01-02 07:24:46 +00:00)

In [ ]:
# explore air_store_info_csv

air_store_info_df = pd.read_csv(air_store_info_csv)
air_store_info_df

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197853
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
...,...,...,...,...,...
824,air_9bf595ef095572fb,International cuisine,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
825,air_764f71040a413d4d,Asian,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
826,air_10bbe8acd943d8f6,Asian,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
827,air_7514d90009613cd6,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956
828,air_c8fe396d6c46275d,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956

time: 16.9 ms (started: 2023-01-02 07:24:46 +00:00)

In [ ]:
air_store_info_df.describe()

         latitude   longitude
count  829.000000  829.000000
mean    35.647042  137.415311
std      2.084659    3.650971
min     33.211967  130.195555
25%     34.695124  135.341564
50%     35.658068  139.685474
75%     35.694003  139.751599
max     44.020632  144.273398

time: 14.2 ms (started: 2023-01-02 07:24:46 +00:00)

does exploring lattitude and longtitude seperately make sense ? 
so they are basically pointing the location of the store 
what are we are interest in the location 
by the way can we think of when lattitude and longtitude would affect seperately as information

In [ ]:
air_store_info_df.describe(include='object')

                air_store_id air_genre_name                   air_area_name
count                    829            829                             829
unique                   829             14                             103
top     air_0f0cdeee6c9bf3d7        Izakaya  Fukuoka-ken Fukuoka-shi Daimyō
freq                       1            197                              64

time: 16.3 ms (started: 2023-01-02 07:24:46 +00:00)

In [ ]:
# explore air_visit_data 

air_visit_data_df = pd.read_csv(air_visit_data_csv)
air_visit_data_df

                air_store_id  visit_date  visitors
0       air_ba937bf13d40fb24  2016-01-13        25
1       air_ba937bf13d40fb24  2016-01-14        32
2       air_ba937bf13d40fb24  2016-01-15        29
3       air_ba937bf13d40fb24  2016-01-16        22
4       air_ba937bf13d40fb24  2016-01-18         6
...                      ...         ...       ...
252103  air_24e8414b9b07decb  2017-04-18         6
252104  air_24e8414b9b07decb  2017-04-19         6
252105  air_24e8414b9b07decb  2017-04-20         7
252106  air_24e8414b9b07decb  2017-04-21         8
252107  air_24e8414b9b07decb  2017-04-22         5

[252108 rows x 3 columns]

time: 140 ms (started: 2023-01-02 07:24:46 +00:00)

In [ ]:
# explore hpg_reserve

hpg_reserve_df = pd.read_csv(hpg_reserve_csv)
hpg_reserve_df

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13
...,...,...,...,...
2000315,hpg_2b293477ea4642fb,2017-05-31 20:00:00,2017-04-19 07:00:00,2
2000316,hpg_f922aeca48ca5a29,2017-05-31 20:00:00,2017-03-19 00:00:00,3
2000317,hpg_e9151de687b93aa3,2017-05-31 21:00:00,2017-04-14 20:00:00,49
2000318,hpg_fae6c96189b4a122,2017-05-31 21:00:00,2017-04-19 17:00:00,9
2000319,hpg_0b70de808b55ad1e,2017-05-31 23:00:00,2017-04-21 13:00:00,6

time: 1.64 s (started: 2023-01-02 07:24:46 +00:00)

In [ ]:
hpg_reserve_df.describe()

       reserve_visitors
count      2.000320e+06
mean       5.073785e+00
std        5.416172e+00
min        1.000000e+00
25%        2.000000e+00
50%        3.000000e+00
75%        6.000000e+00
max        1.000000e+02

time: 98 ms (started: 2023-01-02 07:24:48 +00:00)

In [ ]:
hpg_reserve_df.describe(include='object')

                hpg_store_id       visit_datetime     reserve_datetime
count                2000320              2000320              2000320
unique                 13325                 9847                11450
top     hpg_2afd5b187409eeb4  2016-12-16 19:00:00  2016-12-12 21:00:00
freq                    1155                10528                  907

time: 873 ms (started: 2023-01-02 07:24:48 +00:00)

In [ ]:
# explore hpg_store_info 

hpg_store_info_df = pd.read_csv(hpg_store_info_csv)
hpg_store_info_df

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
...,...,...,...,...,...
4685,hpg_c6ed353a48c7c93e,Sichuan food,Tōkyō-to Chiyoda-ku None,35.695780,139.768453
4686,hpg_a58d2423360b2fb4,Sichuan food,Tōkyō-to Minato-ku Roppongi,35.666137,139.733978
4687,hpg_d2021704076cdd70,Shanghai food,Tōkyō-to Chiyoda-ku None,35.695780,139.768453
4688,hpg_602472570d65e219,Spain/Mediterranean cuisine,Tōkyō-to Toshima-ku None,35.730068,139.711742
4689,hpg_11801306ce8bfb4f,Udon/Soba,Osaka Prefecture Osaka None,34.701519,135.498859

time: 21.3 ms (started: 2023-01-02 07:24:49 +00:00)

In [ ]:
hpg_store_info_df.describe(include='object')

                hpg_store_id  hpg_genre_name              hpg_area_name
count                   4690            4690                       4690
unique                  4690              34                        119
top     hpg_6622b62385aec8bf  Japanese style  Tōkyō-to Shinjuku-ku None
freq                       1            1750                        257

time: 18.1 ms (started: 2023-01-02 07:24:49 +00:00)

In [ ]:
# explore store_id_relation

store_id_relation_df = pd.read_csv(store_id_relation_csv)
store_id_relation_df

             air_store_id          hpg_store_id
0    air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1    air_a24bf50c3e90d583  hpg_c34b496d0305a809
2    air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3    air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4    air_965b2e0cf4119003  hpg_653238a84804d8e7
..                    ...                   ...
145  air_b8925441167c3152  hpg_0cc0abae3a8b52de
146  air_f8233ad00755c35c  hpg_098e4dd30e54fee6
147  air_6607fe3671242ce3  hpg_1004356dc8ab69ec
148  air_ccd19a5bc5573ae5  hpg_df22bf146d2c7e19
149  air_465bddfed3353b23  hpg_23c5945dc1a72454

[150 rows x 2 columns]

time: 13.6 ms (started: 2023-01-02 07:24:49 +00:00)

In [ ]:
store_id_relation_df.describe()

                air_store_id          hpg_store_id
count                    150                   150
unique                   150                   150
top     air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
freq                       1                     1

time: 12.1 ms (started: 2023-01-02 07:24:49 +00:00)

In [ ]:
# how they have collected the data

time: 431 µs (started: 2023-01-02 07:24:50 +00:00)

In [ ]:
# explore the sample submission 

sample_submission_df = pd.read_csv(sample_submission_csv)
sample_submission_df

                                    id  visitors
0      air_00a91d42b08b08d9_2017-04-23         0
1      air_00a91d42b08b08d9_2017-04-24         0
2      air_00a91d42b08b08d9_2017-04-25         0
3      air_00a91d42b08b08d9_2017-04-26         0
4      air_00a91d42b08b08d9_2017-04-27         0
...                                ...       ...
32014  air_fff68b929994bfbd_2017-05-27         0
32015  air_fff68b929994bfbd_2017-05-28         0
32016  air_fff68b929994bfbd_2017-05-29         0
32017  air_fff68b929994bfbd_2017-05-30         0
32018  air_fff68b929994bfbd_2017-05-31         0

[32019 rows x 2 columns]

time: 31.2 ms (started: 2023-01-02 07:24:50 +00:00)

# Build the dataset for deep learning

In [ ]:
air_visit_data_df

                air_store_id  visit_date  visitors
0       air_ba937bf13d40fb24  2016-01-13        25
1       air_ba937bf13d40fb24  2016-01-14        32
2       air_ba937bf13d40fb24  2016-01-15        29
3       air_ba937bf13d40fb24  2016-01-16        22
4       air_ba937bf13d40fb24  2016-01-18         6
...                      ...         ...       ...
252103  air_24e8414b9b07decb  2017-04-18         6
252104  air_24e8414b9b07decb  2017-04-19         6
252105  air_24e8414b9b07decb  2017-04-20         7
252106  air_24e8414b9b07decb  2017-04-21         8
252107  air_24e8414b9b07decb  2017-04-22         5

[252108 rows x 3 columns]

time: 9.09 ms (started: 2023-01-02 07:24:50 +00:00)

## find the relation between air_visit_data and air_reservation

In [ ]:
# how many elements are there ?  

print(air_visit_data_df.columns)
print(air_reserve_df.columns)

Index(['air_store_id', 'visit_date', 'visitors'], dtype='object')
Index(['air_store_id', 'visit_datetime', 'reserve_datetime',
       'reserve_visitors'],
      dtype='object')
time: 1.56 ms (started: 2023-01-02 07:24:50 +00:00)

In [ ]:
# how many visitors are there in air_visit_data
len(air_visit_data_df.visitors)

252108

time: 3.48 ms (started: 2023-01-02 07:24:50 +00:00)

In [ ]:
# are there similar visit dates  in air visit data 
len(air_visit_data_df.visit_date)

252108

time: 3.46 ms (started: 2023-01-02 07:24:50 +00:00)

In [ ]:
# now how many visit datetime in air reserve
len(air_reserve_df.visit_datetime)

92378

time: 3.68 ms (started: 2023-01-02 07:24:50 +00:00)

In [ ]:
# let see the data of air_visit_data closely 
air_visit_data_df

                air_store_id  visit_date  visitors
0       air_ba937bf13d40fb24  2016-01-13        25
1       air_ba937bf13d40fb24  2016-01-14        32
2       air_ba937bf13d40fb24  2016-01-15        29
3       air_ba937bf13d40fb24  2016-01-16        22
4       air_ba937bf13d40fb24  2016-01-18         6
...                      ...         ...       ...
252103  air_24e8414b9b07decb  2017-04-18         6
252104  air_24e8414b9b07decb  2017-04-19         6
252105  air_24e8414b9b07decb  2017-04-20         7
252106  air_24e8414b9b07decb  2017-04-21         8
252107  air_24e8414b9b07decb  2017-04-22         5

[252108 rows x 3 columns]

time: 10.7 ms (started: 2023-01-02 07:24:50 +00:00)

In [ ]:
# let see the ari_reseve closely 
air_reserve_df

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5
...,...,...,...,...
92373,air_db4b38ebe7a7ceff,2017-05-29 18:00:00,2017-04-17 19:00:00,6
92374,air_1033310359ceeac1,2017-05-30 23:00:00,2017-04-19 17:00:00,8
92375,air_877f79706adbfb06,2017-05-31 20:00:00,2017-04-12 23:00:00,3
92376,air_900d755ebd2f7bbd,2017-05-31 20:00:00,2017-04-19 16:00:00,10
92377,air_3cad29d1a23209d2,2017-05-31 21:00:00,2017-04-22 10:00:00,3

time: 10.7 ms (started: 2023-01-02 07:24:50 +00:00)

In [ ]:
# let the take the first result of the air_visit_data 
# step 2 find the entries related to the date in the air_reserve_data
dummy_date = air_visit_data_df.visit_date[1]
air_reserve_df.loc[air_reserve_df.visit_datetime == dummy_date]
# this expression does not represent the idea which I want
# let's refine the way of expression
# find a way of expression using chatgpt
air_reserve_df.loc[air_reserve_df.visit_datetime.str.contains(dummy_date)]

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
681,air_326ca454ef3558bc,2016-01-14 11:00:00,2016-01-14 11:00:00,24
682,air_2d3afcb91762fe01,2016-01-14 13:00:00,2016-01-13 13:00:00,7
683,air_2d3afcb91762fe01,2016-01-14 14:00:00,2016-01-14 14:00:00,3
684,air_03963426c9312048,2016-01-14 17:00:00,2016-01-06 15:00:00,17
685,air_24b9b2a020826ede,2016-01-14 17:00:00,2016-01-10 14:00:00,3
...,...,...,...,...
740,air_877f79706adbfb06,2016-01-14 21:00:00,2016-01-12 12:00:00,4
741,air_877f79706adbfb06,2016-01-14 21:00:00,2016-01-12 12:00:00,2
742,air_db80363d35f10926,2016-01-14 21:00:00,2016-01-12 19:00:00,3
743,air_6b9fa44a9cf504a1,2016-01-14 22:00:00,2016-01-14 22:00:00,3
744,air_6b9fa44a9cf504a1,2016-01-14 23:00:00,2016-01-14 23:00:00,2

time: 65 ms (started: 2023-01-02 07:24:50 +00:00)

In [ ]:
air_dummy_date_df = air_reserve_df.loc[air_reserve_df.visit_datetime.str.contains(dummy_date)]
air_dummy_date_df

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
681,air_326ca454ef3558bc,2016-01-14 11:00:00,2016-01-14 11:00:00,24
682,air_2d3afcb91762fe01,2016-01-14 13:00:00,2016-01-13 13:00:00,7
683,air_2d3afcb91762fe01,2016-01-14 14:00:00,2016-01-14 14:00:00,3
684,air_03963426c9312048,2016-01-14 17:00:00,2016-01-06 15:00:00,17
685,air_24b9b2a020826ede,2016-01-14 17:00:00,2016-01-10 14:00:00,3
...,...,...,...,...
740,air_877f79706adbfb06,2016-01-14 21:00:00,2016-01-12 12:00:00,4
741,air_877f79706adbfb06,2016-01-14 21:00:00,2016-01-12 12:00:00,2
742,air_db80363d35f10926,2016-01-14 21:00:00,2016-01-12 19:00:00,3
743,air_6b9fa44a9cf504a1,2016-01-14 22:00:00,2016-01-14 22:00:00,3
744,air_6b9fa44a9cf504a1,2016-01-14 23:00:00,2016-01-14 23:00:00,2

time: 48.3 ms (started: 2023-01-02 07:24:50 +00:00)

### what is the sum of visitors in air_reserve for dummy_date

In [ ]:
dummy_date_sum_air_reserve = air_dummy_date_df.reserve_visitors.sum()
dummy_date_sum_air_reserve

278

time: 3.96 ms (started: 2023-01-02 07:24:51 +00:00)

### how many visitors are there in air_visit_data for particular date (let's say dummy date date of visit_data i.e, 2016-01-14 (it's just for example))
air_visit_data_df 
so ultimate and *clear question* is : how many visitor visited on the particular date on particular restaurent  according to air_visit_data_df
and then according to air_reserve_df 
how many visitors are there for that same restaurant and same date

In [ ]:
# point to improve 
##         - asking clear question ( clear thinking )
##         - speech to text input for the comments in the cell

time: 400 µs (started: 2023-01-02 07:24:51 +00:00)

In [ ]:
print(f'dummy_date : {dummy_date}\n')

# points to improve 
##    - EDA should be for all the DataFrame with Data Visualization

# let's find out of all the restaurant recorded on the dummy_date in the air_visit_data_df

dummy_date_restaurants_df = air_visit_data_df.loc[air_visit_data_df.visit_date.str.contains(dummy_date)]
dummy_date_restaurants_df

dummy_date : 2016-01-14

                air_store_id  visit_date  visitors
1       air_ba937bf13d40fb24  2016-01-14        32
399     air_25e9888d30b386df  2016-01-14         8
1726    air_fd6aac1043520e83  2016-01-14        36
2106    air_64d4491ad8cdb1c6  2016-01-14        21
4140    air_9438d67241c81314  2016-01-14        24
...                      ...         ...       ...
245744  air_f068442ebb6c246c  2016-01-14         2
246439  air_506fe758114df773  2016-01-14        14
247603  air_0e1eae99b8723bc1  2016-01-14         8
249067  air_e9ebf7fc520ac76a  2016-01-14        76
249479  air_7bc6ca04d7b0f3b8  2016-01-14        26

[274 rows x 3 columns]

time: 130 ms (started: 2023-01-02 07:24:51 +00:00)

In [ ]:
# results 
##       - 274 restaurants 
##       - on 2016-01-14

time: 355 µs (started: 2023-01-02 07:24:51 +00:00)

### what is sum of the all the visitors for dummy_date?

In [ ]:
dummy_date_sum_air_visit = dummy_date_restaurants_df.visitors.sum()
dummy_date_sum_air_visit

5269

time: 3.51 ms (started: 2023-01-02 07:24:51 +00:00)

### what is the sum of all the visitors for in air_reserve and air_visit_data

In [ ]:
# points to improve
## learn all the techniques of the markdown

time: 393 µs (started: 2023-01-02 07:24:51 +00:00)

In [ ]:
print(f'sum of all the visitor on dummy date in air_visit_data : {dummy_date_sum_air_visit}')
print(f'sum of all the visitor on dummy date in air_reserve : {dummy_date_sum_air_reserve}')

sum of all the visitor on dummy date in air_visit_data : 5269
sum of all the visitor on dummy date in air_reserve : 278
time: 794 µs (started: 2023-01-02 07:24:51 +00:00)

### What is there so much difference on air_reserve and air_visit_data on dummy_date?