In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/scrabble-player-rating/sample_submission.csv
/kaggle/input/scrabble-player-rating/games.csv
/kaggle/input/scrabble-player-rating/turns.csv
/kaggle/input/scrabble-player-rating/train.csv
/kaggle/input/scrabble-player-rating/test.csv

In [ ]:
games = pd.read_csv("/kaggle/input/scrabble-player-rating/games.csv")
turns = pd.read_csv("/kaggle/input/scrabble-player-rating/turns.csv")
train = pd.read_csv("/kaggle/input/scrabble-player-rating/train.csv")
test = pd.read_csv("/kaggle/input/scrabble-player-rating/test.csv")

In [ ]:
games.head()

,game_id,first,time_control_name,game_end_reason,winner,created_at,lexicon,initial_time_seconds,increment_seconds,rating_mode,max_overtime_minutes,game_duration_seconds
0,1,BetterBot,regular,STANDARD,1,2022-08-26 03:38:49,NWL20,1200,0,CASUAL,1,674.844274
1,2,Super,regular,STANDARD,1,2022-08-10 19:19:59,CSW21,3600,0,RATED,1,364.214418
2,3,BetterBot,regular,STANDARD,1,2022-09-04 08:04:27,CSW21,900,0,RATED,5,492.268262
3,4,BetterBot,regular,RESIGNED,0,2022-09-12 02:36:19,CSW21,3600,0,CASUAL,1,350.861141
4,5,STEEBot,regular,STANDARD,0,2022-09-06 04:31:36,NWL20,1200,0,CASUAL,1,642.688722

In [ ]:
games[games.game_id == 1]

,game_id,first,time_control_name,game_end_reason,winner,created_at,lexicon,initial_time_seconds,increment_seconds,rating_mode,max_overtime_minutes,game_duration_seconds
0,1,BetterBot,regular,STANDARD,1,2022-08-26 03:38:49,NWL20,1200,0,CASUAL,1,674.844274

In [ ]:
game_1 = turns[turns.game_id == 1]
game_1.shape

(27, 9)

In [ ]:
game_1

,game_id,turn_number,nickname,rack,location,move,points,score,turn_type
0,1,1,BetterBot,DDEGITT,8G,DIG,10,10,Play
1,1,2,stevy,AEHOPUX,7H,HAP,18,18,Play
2,1,3,BetterBot,DEELTTU,6I,LUTE,16,26,Play
3,1,4,stevy,EMORSUX,5K,UM,16,34,Play
4,1,5,BetterBot,ACDEITU,L5,..DICATE,28,54,Play
5,1,6,stevy,EEOORSX,M11,OXO,31,65,Play
6,1,7,BetterBot,AAEJRSU,5E,RAJAS,29,83,Play
7,1,8,stevy,AEEFIRS,9B,FAERIES,72,137,Play
8,1,9,BetterBot,ELNNORU,C3,NEURON.L,68,151,Play
9,1,10,stevy,EEEHIKO,6F,HO,35,172,Play
10,1,11,BetterBot,EEGIQTW,B2,QI,24,175,Play
11,1,12,stevy,?EEEIKV,8A,KE.,26,198,Play
12,1,13,BetterBot,BEEGITW,N13,WEB,21,196,Play
13,1,14,stevy,??DEEIV,O8,rElIVED,98,296,Play
14,1,15,BetterBot,EGILPTT,M3,TIP,17,213,Play
15,1,16,stevy,BCEIITU,15L,CU.,10,306,Play
16,1,17,BetterBot,EGLTTWY,3A,W..GLET,12,225,Play
17,1,18,stevy,ABEIIRT,2F,BAITER,28,334,Play
18,1,19,BetterBot,MNOSSTY,N2,MOSSY,48,273,Play
19,1,20,stevy,AAFINNR,1G,FAIN,37,371,Play
20,1,21,BetterBot,ANOOTYZ,O1,NAY,28,301,Play
21,1,22,stevy,ADENNRR,7B,D.NNA,19,390,Play
22,1,23,BetterBot,GIOOTVZ,E9,.ITZ,26,327,Play
23,1,24,stevy,ELORR,12C,RE.,24,414,Play
24,1,25,BetterBot,GOOV,8K,V.GO.,8,335,Play
25,1,26,stevy,LOR,K12,LOR,13,427,Play
26,1,27,stevy,NaN,NaN,(O),2,429,End

In [ ]:
game_1[game_1.turn_number == 17]["move"]

16    W..GLET
Name: move, dtype: object

In [ ]:
train.head()

   game_id        nickname  score  rating
0        1       BetterBot    335    1637
1        1           stevy    429    1500
2        3       davidavid    440    1811
3        3       BetterBot    318    2071
4        4  Inandoutworker    119    1473

In [ ]:
test.head()

   game_id   nickname  score  rating
0        2      Super    488     NaN
1        2  BetterBot    401  2000.0
2        7    STEEBot    377  2082.0
3        7     Priya1    379     NaN
4       11    STEEBot    334  1829.0

In [ ]:
test[test.rating.isnull()]

       game_id    nickname  score  rating
0            2       Super    488     NaN
3            7      Priya1    379     NaN
5           11  TileRunner    462     NaN
7           14  Anfield223    359     NaN
8           27  friesbasil    456     NaN
...        ...         ...    ...     ...
44717    72760       thams    494     NaN
44718    72761  hulkbuster    232     NaN
44721    72762   kyjo55555    367     NaN
44723    72768  Maximilian    357     NaN
44725    72769    browndav    384     NaN

[22363 rows x 4 columns]

In [ ]:
games.increment_seconds.value_counts()

0     70552
1       866
5       569
10      552
60      107
3        60
7        46
15       14
59        4
2         2
30        1
Name: increment_seconds, dtype: int64

### Columns from games that are not relevant.
cols = ["created_at"]

### Data Cleaning
1. Change all columns to lower
2. Create final dataset using train and test
3. Create two dataframes: a. Bot b. User
4. Rename columns as per dataframe

In [ ]:
train = train.rename(columns = str.lower)
test = test.rename(columns = str.lower)
games = games.rename(columns = str.lower)
turns = turns.rename(columns = str.lower)

In [ ]:
merged_df = pd.concat([train,test], axis = 0)
merged_df.head()

   game_id        nickname  score  rating
0        1       BetterBot    335  1637.0
1        1           stevy    429  1500.0
2        3       davidavid    440  1811.0
3        3       BetterBot    318  2071.0
4        4  Inandoutworker    119  1473.0

In [ ]:
merged_df.sort_values(by = ["game_id"], inplace = True)
merged_df.head()

   game_id   nickname  score  rating
0        1  BetterBot    335  1637.0
1        1      stevy    429  1500.0
1        2  BetterBot    401  2000.0
0        2      Super    488     NaN
3        3  BetterBot    318  2071.0

In [ ]:
bot_names = ["BetterBot","STEEBot","HastyBot"]
df_bot = merged_df[merged_df["nickname"].isin(bot_names)]
df_bot = df_bot.rename(columns = {'nickname' : 'bot_name','score' : 'bot_score','rating' : 'bot_rating'})

df_user = merged_df[~merged_df["nickname"].isin(bot_names)]
df_user = df_user.rename(columns = {'nickname' : 'user_name','score' : 'user_score','rating' : 'user_rating'})


print("Bot DF:")
display(df_bot.head())

print("\n\nUser DF:")
display(df_user.head())

Bot DF:

   game_id   bot_name  bot_score  bot_rating
0        1  BetterBot        335      1637.0
1        2  BetterBot        401      2000.0
3        3  BetterBot        318      2071.0
5        4  BetterBot        478      1936.0
7        5    STEEBot        427      1844.0

User DF:

   game_id       user_name  user_score  user_rating
1        1           stevy         429       1500.0
0        2           Super         488          NaN
2        3       davidavid         440       1811.0
4        4  Inandoutworker         119       1473.0
6        5           stevy         325       1500.0

In [ ]:
display("NULL values in rating column in bot dataframe: ",df_bot.bot_rating.isnull().sum())
display("NULL values in rating column in user dataframe: ",df_user.user_rating.isnull().sum())

'NULL values in rating column in bot dataframe: '

0

'NULL values in rating column in user dataframe: '

22363

5. Create a new dataframe by merging not concating the bot and user dataframe's.
6. Create a new column user_freq that talks about how many games a user has played.

In [ ]:
main_df = pd.merge(df_bot,df_user, on = "game_id")
main_df.head()
main_df.shape

(72773, 7)

In [ ]:
# abcd = main_df.groupby("user_name")
# abcd.head(20)

In [ ]:
# abcd.get_group(('Super'))

In [ ]:
main_df["user_freq"] = main_df.groupby("user_name")["user_name"].transform("count")
main_df.head()

,game_id,bot_name,bot_score,bot_rating,user_name,user_score,user_rating,user_freq
0,1,BetterBot,335,1637.0,stevy,429,1500.0,410
1,2,BetterBot,401,2000.0,Super,488,NaN,140
2,3,BetterBot,318,2071.0,davidavid,440,1811.0,254
3,4,BetterBot,478,1936.0,Inandoutworker,119,1473.0,205
4,5,STEEBot,427,1844.0,stevy,325,1500.0,410

Look if we can create a data of % wins by user

In [ ]:
'''
Try once with LabelEncoder and once with One-Hot Encoder.
As the bots represent a difficulty level, instead of a label encoder assign label manually.
'''

'\nTry once with LabelEncoder and once with One-Hot Encoder.\nAs the bots represent a difficulty level, instead of a label encoder assign label manually.\n'

In [ ]:
from sklearn import preprocessing

In [ ]:
# encode_bots = preprocessing.LabelEncoder()
# main_df["bot_name"] = encode_bots.fit_transform(main_df["bot_name"])
# main_df.head()

In [ ]:
bot_ratings = {'BetterBot' : 1, 'STEEBot' : 2, 'HastyBot' : 3}
main_df["bot_name"] = main_df["bot_name"].map(bot_ratings)
main_df.head()

,game_id,bot_name,bot_score,bot_rating,user_name,user_score,user_rating,user_freq
0,1,1,335,1637.0,stevy,429,1500.0,410
1,2,1,401,2000.0,Super,488,NaN,140
2,3,1,318,2071.0,davidavid,440,1811.0,254
3,4,1,478,1936.0,Inandoutworker,119,1473.0,205
4,5,2,427,1844.0,stevy,325,1500.0,410

### Dataset preparation

In [ ]:
train_df = main_df[~main_df["user_rating"].isna()].reset_index(drop = True)
train_df.head()

,game_id,bot_name,bot_score,bot_rating,user_name,user_score,user_rating,user_freq
0,1,1,335,1637.0,stevy,429,1500.0,410
1,3,1,318,2071.0,davidavid,440,1811.0,254
2,4,1,478,1936.0,Inandoutworker,119,1473.0,205
3,5,2,427,1844.0,stevy,325,1500.0,410
4,6,2,427,2143.0,HivinD,378,2029.0,592

In [ ]:
test_df = main_df[main_df["user_rating"].isna()].reset_index(drop = True)
test_df.head()

,game_id,bot_name,bot_score,bot_rating,user_name,user_score,user_rating,user_freq
0,2,1,401,2000.0,Super,488,NaN,140
1,7,2,377,2082.0,Priya1,379,NaN,166
2,11,2,334,1829.0,TileRunner,462,NaN,269
3,14,2,403,2136.0,Anfield223,359,NaN,65
4,27,3,453,2258.0,friesbasil,456,NaN,528

# Train Model

In [ ]:
train_x = train_df.drop(columns = ["user_name","user_rating"], axis = 1)
train_y = train_df["user_rating"]

test_x = test_df.drop(columns = ["user_name","user_rating"], axis = 1)
test_x.head()

   game_id  bot_name  bot_score  bot_rating  user_score  user_freq
0        2         1        401      2000.0         488        140
1        7         2        377      2082.0         379        166
2       11         2        334      1829.0         462        269
3       14         2        403      2136.0         359         65
4       27         3        453      2258.0         456        528

# New Approach
Create a set of models to try out and experiment with it

In [ ]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import KFold
import lightgbm as lgb

In [ ]:
model_lib = {
    "linear" : LinearRegression(),
    "ridge" : Ridge(),
    "lasso" : Lasso(),
    "decision_tree" : DecisionTreeRegressor(),
    "random_forest" : RandomForestRegressor(),
    "gradient_boosting" : GradientBoostingRegressor(),
    "mlp" : MLPRegressor(),
    "lgbm" : lgb.LGBMRegressor()
}

In [ ]:
df_score_details = {
    "Model Name" : [],
    "RMSE" : []
}

for m_name in model_lib.keys():
    val_rmse = []
    kf = KFold(n_splits = 5)
    
    for train_idx,val_idx in kf.split(train_x):
        x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
        y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]
        
        model = model_lib[m_name]
        model.fit(x_train,y_train)
        
        val_preds = model.predict(x_val).reshape(-1)
        val_rmse.append(mean_squared_error(y_val, val_preds, squared = False))
        
    df_score_details["Model Name"].append(m_name)
    df_score_details["RMSE"].append(np.mean(val_rmse))

    print("-----------------")
    print(f"Model {m_name}: {df_score_details} ")
    print("-----------------")

df_score = pd.DataFrame(df_score_details)

-----------------
Model linear: {'Model Name': ['linear'], 'RMSE': [150.38439547275166]}
-----------------
-----------------
Model ridge: {'Model Name': ['linear', 'ridge'], 'RMSE': [150.38439547275166, 150.38439515387407]}
-----------------
-----------------
Model lasso: {'Model Name': ['linear', 'ridge', 'lasso'], 'RMSE': [150.38439547275166, 150.38439515387407, 150.3953811061349]}
-----------------
-----------------
Model decision_tree: {'Model Name': ['linear', 'ridge', 'lasso', 'decision_tree'], 'RMSE': [150.38439547275166, 150.38439515387407, 150.3953811061349, 123.42238804696024]}
-----------------
-----------------
Model random_forest: {'Model Name': ['linear', 'ridge', 'lasso', 'decision_tree', 'random_forest'], 'RMSE': [150.38439547275166, 150.38439515387407, 150.3953811061349, 123.42238804696024, 85.26566337112952]}
-----------------
-----------------
Model gradient_boosting: {'Model Name': ['linear', 'ridge', 'lasso', 'decision_tree', 'random_forest', 'gradient_boosting'], 'RMSE': [150.38439547275166, 150.38439515387407, 150.3953811061349, 123.42238804696024, 85.26566337112952, 117.61848668681975]}
-----------------
-----------------
Model mlp: {'Model Name': ['linear', 'ridge', 'lasso', 'decision_tree', 'random_forest', 'gradient_boosting', 'mlp'], 'RMSE': [150.38439547275166, 150.38439515387407, 150.3953811061349, 123.42238804696024, 85.26566337112952, 117.61848668681975, 148.90660313888534]}
-----------------
-----------------
Model lgbm: {'Model Name': ['linear', 'ridge', 'lasso', 'decision_tree', 'random_forest', 'gradient_boosting', 'mlp', 'lgbm'], 'RMSE': [150.38439547275166, 150.38439515387407, 150.3953811061349, 123.42238804696024, 85.26566337112952, 117.61848668681975, 148.90660313888534, 91.24231674071254]}
-----------------

In [ ]:
df_score_details

{'Model Name': ['linear',
  'ridge',
  'lasso',
  'decision_tree',
  'random_forest',
  'gradient_boosting',
  'mlp',
  'lgbm'],
 'RMSE': [150.38439547275166,
  150.38439515387407,
  150.3953811061349,
  123.42238804696024,
  85.26566337112952,
  117.61848668681975,
  148.90660313888534,
  91.24231674071254]}

In [ ]:
df_score.sort_values(by = ["RMSE"], inplace = True)
df_score

          Model Name        RMSE
4      random_forest   85.265663
7               lgbm   91.242317
5  gradient_boosting  117.618487
3      decision_tree  123.422388
6                mlp  148.906603
1              ridge  150.384395
0             linear  150.384395
2              lasso  150.395381

In [ ]:
for m_name in model_lib.keys():
    model = model_lib[m_name]
    model.fit(train_x,train_y)

    test_x["user_rating"] = model.predict(test_x)
    test_x.head()

    final_df = test_x[["game_id","user_rating"]]
    final_df = final_df.rename(columns = {'user_rating':'rating'})
    final_df.head()
    
    submission_name = m_name + "_manulencoding_submission.csv"
    final_df.to_csv(submission_name, index = False)
    test_x.drop(columns = "user_rating",inplace = True)

In [ ]:
def remove_folder_contents(folder):
    for the_file in os.listdir(folder):
        file_path = os.path.join(folder, the_file)
        try:
            if os.path.isfile(file_path):
                os.unlink(file_path)
            elif os.path.isdir(file_path):
                remove_folder_contents(file_path)
                os.rmdir(file_path)
        except Exception as e:
            print(e)

folder_path = '/kaggle/working'
remove_folder_contents(folder_path)

# LGBM works the best