In [1]:
!pip install -U autowoe

Collecting autowoe
  Downloading AutoWoE-1.3.2-py3-none-any.whl (215 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 215.7/215.7 kB 9.4 MB/s eta 0:00:00
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from autowoe) (1.21.6)
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from autowoe) (1.7.3)
Requirement already satisfied: lightgbm in /opt/conda/lib/python3.7/site-packages (from autowoe) (3.3.2)
Collecting StrEnum<0.5.0,>=0.4.7
  Downloading StrEnum-0.4.10-py3-none-any.whl (7.7 kB)
Requirement already satisfied: sphinx-rtd-theme in /opt/conda/lib/python3.7/site-packages (from autowoe) (0.2.4)
Requirement already satisfied: pytest in /opt/conda/lib/python3.7/site-packages (from autowoe) (7.2.2)
Requirement already satisfied: tqdm<5.0.0,>=4.62.3 in /opt/conda/lib/python3.7/site-packages (from autowoe) (4.64.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (from autowoe) (1.3.5)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.7/site-packages (from autowoe) (1.0.2)
Requirement already satisfied: pytz in /opt/conda/lib/python3.7/site-packages (from autowoe) (2022.7.1)
Collecting sphinx
  Downloading sphinx-5.3.0-py3-none-any.whl (3.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 71.5 MB/s eta 0:00:00:00:01
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.7/site-packages (from autowoe) (3.5.3)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.7/site-packages (from autowoe) (0.12.2)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.7/site-packages (from autowoe) (3.1.2)
Requirement already satisfied: joblib in /opt/conda/lib/python3.7/site-packages (from autowoe) (1.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.7/site-packages (from jinja2->autowoe) (2.1.1)
Requirement already satisfied: wheel in /opt/conda/lib/python3.7/site-packages (from lightgbm->autowoe) (0.38.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from scikit-learn->autowoe) (3.1.0)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib->autowoe) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib->autowoe) (9.4.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib->autowoe) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->autowoe) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->autowoe) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib->autowoe) (4.38.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.7/site-packages (from matplotlib->autowoe) (2.8.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /opt/conda/lib/python3.7/site-packages (from pytest->autowoe) (1.1.1)
Requirement already satisfied: importlib-metadata>=0.12 in /opt/conda/lib/python3.7/site-packages (from pytest->autowoe) (4.11.4)
Requirement already satisfied: tomli>=1.0.0 in /opt/conda/lib/python3.7/site-packages (from pytest->autowoe) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in /opt/conda/lib/python3.7/site-packages (from pytest->autowoe) (22.2.0)
Requirement already satisfied: iniconfig in /opt/conda/lib/python3.7/site-packages (from pytest->autowoe) (2.0.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /opt/conda/lib/python3.7/site-packages (from pytest->autowoe) (1.0.0)
Requirement already satisfied: typing_extensions in /opt/conda/lib/python3.7/site-packages (from seaborn->autowoe) (4.4.0)
Collecting imagesize>=1.3
  Downloading imagesize-1.4.1-py2.py3-none-any.whl (8.8 kB)
Requirement already satisfied: requests>=2.5.0 in /opt/conda/lib/python3.7/site-packages (from sphinx->autowoe) (2.28.2)
Collecting sphinxcontrib-serializinghtml>=1.1.5
  Downloading sphinxcontrib_serializinghtml-1.1.5-py2.py3-none-any.whl (94 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.0/94.0 kB 8.0 MB/s eta 0:00:00
Collecting sphinxcontrib-jsmath
  Downloading sphinxcontrib_jsmath-1.0.1-py2.py3-none-any.whl (5.1 kB)
Collecting sphinxcontrib-devhelp
  Downloading sphinxcontrib_devhelp-1.0.2-py2.py3-none-any.whl (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.7/84.7 kB 8.3 MB/s eta 0:00:00
Requirement already satisfied: docutils<0.20,>=0.14 in /opt/conda/lib/python3.7/site-packages (from sphinx->autowoe) (0.19)
Collecting alabaster<0.8,>=0.7
  Downloading alabaster-0.7.13-py3-none-any.whl (13 kB)
Requirement already satisfied: snowballstemmer>=2.0 in /opt/conda/lib/python3.7/site-packages (from sphinx->autowoe) (2.2.0)
Requirement already satisfied: Pygments>=2.12 in /opt/conda/lib/python3.7/site-packages (from sphinx->autowoe) (2.14.0)
Requirement already satisfied: babel>=2.9 in /opt/conda/lib/python3.7/site-packages (from sphinx->autowoe) (2.11.0)
Collecting sphinxcontrib-applehelp
  Downloading sphinxcontrib_applehelp-1.0.2-py2.py3-none-any.whl (121 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.2/121.2 kB 13.0 MB/s eta 0:00:00
Collecting sphinxcontrib-qthelp
  Downloading sphinxcontrib_qthelp-1.0.3-py2.py3-none-any.whl (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.6/90.6 kB 8.5 MB/s eta 0:00:00
Collecting sphinxcontrib-htmlhelp>=2.0.0
  Downloading sphinxcontrib_htmlhelp-2.0.0-py2.py3-none-any.whl (100 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100.5/100.5 kB 9.9 MB/s eta 0:00:00
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata>=0.12->pytest->autowoe) (3.11.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib->autowoe) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.5.0->sphinx->autowoe) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.5.0->sphinx->autowoe) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.5.0->sphinx->autowoe) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.5.0->sphinx->autowoe) (1.26.14)
Installing collected packages: StrEnum, sphinxcontrib-serializinghtml, sphinxcontrib-qthelp, sphinxcontrib-jsmath, sphinxcontrib-htmlhelp, sphinxcontrib-devhelp, sphinxcontrib-applehelp, imagesize, alabaster, sphinx, autowoe
Successfully installed StrEnum-0.4.10 alabaster-0.7.13 autowoe-1.3.2 imagesize-1.4.1 sphinx-5.3.0 sphinxcontrib-applehelp-1.0.2 sphinxcontrib-devhelp-1.0.2 sphinxcontrib-htmlhelp-2.0.0 sphinxcontrib-jsmath-1.0.1 sphinxcontrib-qthelp-1.0.3 sphinxcontrib-serializinghtml-1.1.5
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

# Imports

In [2]:
%matplotlib inline

import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

from autowoe import AutoWoE, ReportDeco

# Data loading

In [3]:
INPUT_PATH = '../input/tabular-playground-series-apr-2021/'
train_data = pd.read_csv(INPUT_PATH + 'train.csv')
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,2,"Bell, Adele",female,62.00,0,0,PC 15008,14.86,D17243,C
99996,99996,0,2,"Brown, Herman",male,66.00,0,0,13273,11.15,NaN,S
99997,99997,0,3,"Childress, Charles",male,37.00,0,0,NaN,9.95,NaN,S
99998,99998,0,3,"Caughlin, Thomas",male,51.00,0,1,458654,30.92,NaN,S
99999,99999,0,3,"Enciso, Tyler",male,55.00,0,0,458074,13.96,NaN,S

In [4]:
test_data = pd.read_csv(INPUT_PATH + 'test.csv')
test_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,100000,3,"Holliday, Daniel",male,19.0,0,0,24745,63.01,NaN,S
1,100001,3,"Nguyen, Lorraine",female,53.0,0,0,13264,5.81,NaN,S
2,100002,1,"Harris, Heather",female,19.0,0,0,25990,38.91,B15315,C
3,100003,2,"Larsen, Eric",male,25.0,0,0,314011,12.93,NaN,S
4,100004,1,"Cleary, Sarah",female,17.0,0,2,26203,26.89,B22515,C
...,...,...,...,...,...,...,...,...,...,...,...
99995,199995,3,"Cash, Cheryle",female,27.0,0,0,7686,10.12,NaN,Q
99996,199996,1,"Brown, Howard",male,59.0,1,0,13004,68.31,NaN,S
99997,199997,3,"Lightfoot, Cameron",male,47.0,0,0,4383317,10.87,NaN,S
99998,199998,1,"Jacobsen, Margaret",female,49.0,1,2,PC 26988,29.68,B20828,C
99999,199999,1,"Fishback, Joanna",female,41.0,0,2,PC 41824,195.41,E13345,C

In [5]:
submission = pd.read_csv(INPUT_PATH + 'sample_submission.csv')
submission

       PassengerId  Survived
0           100000         1
1           100001         1
2           100002         1
3           100003         1
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         1
99997       199997         1
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

In [6]:
print('TRAIN TARGET MEAN = {:.3f}'.format(train_data['Survived'].mean()))

TRAIN TARGET MEAN = 0.428

# Extra features creation

In [7]:
def create_extra_features(data):
    data.Cabin = data.Cabin.map(lambda x: str(x)[0].strip())
    data.Ticket = data.Ticket.map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else np.nan)
    
    data['FamilySize'] = data['SibSp'] + data['Parch'] + 1
    
    data['FirstName'] = data.Name.map(lambda x: str(x).split(',')[0])
    data['Surname'] = data.Name.map(lambda x: str(x).split(',')[1])
    
    for col in ['Name', 'FirstName', 'Surname']:
        data['Counter_' + col] = data[col].map(data.groupby(col)['PassengerId'].count().to_dict())
        
    data.drop(columns = ['Name', 'Surname'], inplace = True)
    
    return data


all_df = pd.concat([train_data, test_data]).reset_index(drop = True)
all_df = create_extra_features(all_df)
train_data, test_data = all_df[:len(train_data)], all_df[len(train_data):]
print(train_data.shape, test_data.shape)

(100000, 16) (100000, 16)

In [8]:
train_data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,FirstName,Counter_Name,Counter_FirstName,Counter_Surname
0,0,1.0,1,male,NaN,2,0,NaN,27.14,C,S,3,Oconnor,1,47,51
1,1,0.0,3,male,NaN,0,0,NaN,13.35,n,S,1,Bryan,1,54,31
2,2,0.0,3,male,0.33,1,2,CA,71.29,n,S,4,Owens,2,165,1128
3,3,0.0,3,male,19.00,0,0,A.,13.04,n,S,1,Kramer,2,53,4736
4,4,1.0,3,male,25.00,0,0,NaN,7.76,n,S,1,Bond,1,39,3662

# Splitting data

In [9]:
tr_data, val_data = train_test_split(train_data, test_size = 0.2, stratify = train_data['Survived'], random_state = 13)
print(tr_data.shape, val_data.shape)

(80000, 16) (20000, 16)

# Setup interpretable AutoWoe model

Here we setup the model with `ReportDeco` decorator - this decorator helps us to build automatic report (see Bonus 2 part)

In [10]:
auto_woe = AutoWoE(monotonic=False,
                 vif_th=20.,
                 imp_th=0,
                 th_const=32,
                 force_single_split=True,
                 min_bin_size = 0.005,
                 oof_woe=True,
                 n_folds=10,
                 n_jobs=4,
                 regularized_refit=True,
                 verbose=2
        )

auto_woe = ReportDeco(auto_woe)

# Model training

In [11]:
%%time
auto_woe.fit(tr_data, 
             target_name="Survived")

 features [] contain too many nans or identical values
[LightGBM] [Info] Number of positive: 27368, number of negative: 36632
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.009025 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 5955
[LightGBM] [Info] Number of data points in the train set: 64000, number of used features: 15
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427625 -> initscore=-0.291548
[LightGBM] [Info] Start training from score -0.291548
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[25]	val_set's auc: 0.851732
 features ['Counter_Name'] have low importance
PassengerId processing...
Pclass processing...
Sex processing...
Age processing...
SibSp processing...
Parch processing...
Ticket processing...
Fare processing...
Cabin processing...
Embarked processing...
FamilySize processing...
FirstName processing...
Counter_FirstName processing...
Counter_Surname processing...
dict_keys(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'FamilySize', 'FirstName', 'Counter_FirstName', 'Counter_Surname']) to selector !!!!!
Feature selection...
Feature FirstName removed due to single WOE value
C parameter range in [4.40228667355729e-05:0.440228667355729], 20 values
Result(score=0.8383480766933096, reg_alpha=0.009108939000241543, is_neg=True, min_weights=Sex                 -0.845510
Embarked            -0.495358
Fare                -0.193792
Pclass              -0.426072
Cabin               -0.413710
Counter_Surname      0.000000
Ticket              -0.343307
Age                  0.000000
Parch               -0.453994
FamilySize           0.000000
SibSp                0.000000
Counter_FirstName    0.000000
PassengerId          0.000000
dtype: float64)
Sex        -0.837630
Embarked   -0.488637
Fare       -0.188626
Pclass     -0.421587
Cabin      -0.406876
Ticket     -0.333716
Parch      -0.459633
dtype: float64
CPU times: user 2min 55s, sys: 2.59 s, total: 2min 57s
Wall time: 4min 39s

In [12]:
val_pred = auto_woe.predict_proba(val_data)
print("ACC_SCORE = {:.5f}".format(accuracy_score(val_data['Survived'], (val_pred > 0.5).astype(int))))

ACC_SCORE = 0.77605

# Bonus 1 - Automatic report generation for trained model

In [13]:
report_params = {"output_path": "./AUTOWOE_REPORT_Validation",
                 "report_name": "AutoWoE automatic report for Syntanic dataset model",
                 "report_version_id": 1,
                 "city": "Moscow",
                 "model_aim": "Here we want to build a model to solve TPS April 2021 competition",
                 "model_name": "Syntanic_AutoWoE_model",
                 "zakazchik": "Kaggle", # sorry for transliterate russian key here - it means the group that ask you to build this model 
                 "high_level_department": "Google",
                 "ds_name": "Alexander Ryzhkov",
                 "target_descr": "Human survived in Titanic disaster",
                 "non_target_descr": "(Sad news) Human not survived in Titanic disaster"}

auto_woe.generate_report(report_params)

Successfully wrote ./AUTOWOE_REPORT_Validation/autowoe_report.html.

#### Generated report is [here](./AUTOWOE_REPORT_Validation/autowoe_report.html). P.S. It is interactive - to open subtree click on black triangle on the left of the text.

# Bonus 2 - Automatic SQL inference query generation for trained model

As our model is interpretable, we can create SQL query for it automatically. With the help of this query you can receive model predictions inside database without Python at all.

All you need is setup the `table_name` with the initial data

In [14]:
print(auto_woe.get_sql_inference_query(table_name = 'TABLE_NAME'))

SELECT
  1 / (1 + EXP(-(
    -0.281
    -0.838*WOE_TAB.Sex
    -0.489*WOE_TAB.Embarked
    -0.189*WOE_TAB.Fare
    -0.422*WOE_TAB.Pclass
    -0.407*WOE_TAB.Cabin
    -0.334*WOE_TAB.Ticket
    -0.46*WOE_TAB.Parch
  ))) as PROB,
  WOE_TAB.*
FROM
    (SELECT
    CASE
      WHEN Sex == 'female' THEN -1.191
      WHEN Sex == 'male' THEN 1.055
      ELSE 0
    END AS Sex,
    CASE
      WHEN Embarked == 'C' THEN -1.386
      WHEN Embarked == 'Q' THEN -0.7
      WHEN Embarked == 'S' THEN 0.482
      ELSE 0
    END AS Embarked,
    CASE
      WHEN (Fare IS NULL OR Fare = 'NaN') THEN 0
      WHEN Fare <= 12.635 THEN 0.732
      WHEN Fare <= 28.175 THEN -0.127
      WHEN Fare <= 48.595 THEN -0.56
      WHEN Fare <= 111.41 THEN -0.196
      ELSE -1.17
    END AS Fare,
    CASE
      WHEN Pclass == 1 THEN -0.609
      WHEN Pclass == 2 THEN -0.397
      WHEN Pclass == 3 THEN 0.82
      ELSE 0
    END AS Pclass,
    CASE
      WHEN Cabin == 'A' THEN 0.66
      WHEN Cabin IN ('B', 'E') THEN -0.821
      WHEN Cabin IN ('C', 'D') THEN -1.2
      WHEN Cabin == 'F' THEN -1.91
      WHEN Cabin == 'n' THEN 0.359
      ELSE 0
    END AS Cabin,
    CASE
      WHEN (Ticket IS NULL OR LOWER(CAST(Ticket AS VARCHAR(50))) = 'nan') THEN -0.057
      WHEN Ticket == 'A.' THEN 1.157
      WHEN Ticket IN ('PC', 'PP') THEN -0.927
      WHEN Ticket IN ('SC/AH', 'SC/PARIS', 'SC/Paris') THEN -0.057
      WHEN Ticket == 'STON/O' THEN 2.596
      ELSE 0.572
    END AS Ticket,
    CASE
      WHEN (Parch IS NULL OR Parch = 'NaN') THEN 0
      WHEN Parch <= 0.0 THEN 0.095
      WHEN Parch <= 1.5 THEN -0.659
      WHEN Parch <= 2.5 THEN 0.16
      WHEN Parch <= 3.5 THEN -0.266
      ELSE 0.168
    END AS Parch
  FROM TABLE_NAME) as WOE_TAB

# Train on the full train 2 separate models for Sex

In [15]:
def fit_autowoe(data):
    auto_woe = AutoWoE(monotonic=False,
                     vif_th=20.,
                     imp_th=0,
                     th_const=32,
                     force_single_split=True,
                     min_bin_size = 0.01,
                     oof_woe=True,
                     n_folds=10,
                     n_jobs=4,
                     regularized_refit=True,
                     verbose=2
            )
    auto_woe.fit(data, 
                 target_name="Survived")
    return auto_woe

In [16]:
male_model = fit_autowoe(train_data[train_data['Sex'] == 'male'])
print('=' * 50)
female_model = fit_autowoe(train_data[train_data['Sex'] == 'female'])

 features ['Sex'] contain too many nans or identical values
[LightGBM] [Info] Number of positive: 9226, number of negative: 35665
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004476 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 4426
[LightGBM] [Info] Number of data points in the train set: 44891, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.205520 -> initscore=-1.352144
[LightGBM] [Info] Start training from score -1.352144
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[21]	val_set's auc: 0.756667
 features [] have low importance
PassengerId processing...
Pclass processing...
Age processing...
SibSp processing...
Parch processing...
Ticket processing...
Fare processing...
Cabin processing...
Embarked processing...
FamilySize processing...
FirstName processing...
Counter_Name processing...
Counter_FirstName processing...
Counter_Surname processing...
dict_keys(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'FamilySize', 'FirstName', 'Counter_Name', 'Counter_FirstName', 'Counter_Surname']) to selector !!!!!
Feature selection...
C parameter range in [6.0573020776546124e-05:0.6057302077654613], 20 values
Result(score=0.7446023993854961, reg_alpha=0.0077186685184028915, is_neg=True, min_weights=Pclass              -0.428774
Fare                -0.265257
Cabin               -0.358750
Embarked            -0.625262
Ticket              -0.318533
Age                  0.000000
FamilySize           0.000000
Parch               -0.517017
SibSp                0.000000
Counter_Surname      0.000000
PassengerId          0.000000
Counter_Name         0.000000
Counter_FirstName    0.000000
FirstName            0.000000
dtype: float64)
Pclass     -0.416338
Fare       -0.257227
Cabin      -0.351272
Embarked   -0.621238
Ticket     -0.311593
Parch      -0.524056
dtype: float64
==================================================
 features ['Sex'] contain too many nans or identical values
[LightGBM] [Info] Number of positive: 25002, number of negative: 10106
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.003916 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3770
[LightGBM] [Info] Number of data points in the train set: 35108, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.712145 -> initscore=0.905827
[LightGBM] [Info] Start training from score 0.905827
Training until validation scores don't improve for 10 rounds
Early stopping, best iteration is:
[14]	val_set's auc: 0.731713
 features ['Counter_Name'] have low importance
PassengerId processing...
Pclass processing...
Age processing...
SibSp processing...
Parch processing...
Ticket processing...
Fare processing...
Cabin processing...
Embarked processing...
FamilySize processing...
FirstName processing...
Counter_FirstName processing...
Counter_Surname processing...
dict_keys(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'FamilySize', 'FirstName', 'Counter_FirstName', 'Counter_Surname']) to selector !!!!!
Feature selection...
Feature FirstName removed due to single WOE value
C parameter range in [0.00010772379618657762:1.0772379618657761], 20 values
Result(score=0.7236926619865143, reg_alpha=0.03619323802955705, is_neg=True, min_weights=Cabin               -0.657974
Embarked            -0.670271
Pclass              -0.498278
Fare                -0.433363
FamilySize           0.000000
SibSp               -0.671766
Age                  0.000000
Ticket              -0.667597
Parch               -0.580166
Counter_FirstName    0.000000
Counter_Surname      0.000000
PassengerId          0.000000
dtype: float64)
Cabin      -0.642807
Embarked   -0.656712
Pclass     -0.485353
Fare       -0.414757
SibSp      -0.645842
Ticket     -0.650456
Parch      -0.549823
dtype: float64

In [17]:
male_pred = male_model.predict_proba(test_data)
female_pred = female_model.predict_proba(test_data)

In [18]:
preds = np.where(test_data['Sex'] == 'male', male_pred, female_pred)

In [19]:
preds

array([0.12912243, 0.56385311, 0.87204776, ..., 0.09941357, 0.79255767,
       0.91256468])

# Create submissions

In [20]:
submission['Survived'] = (preds > 0.5).astype(int)
submission.to_csv('AutoWoE_submission.csv', index = False)

In [21]:
submission['Survived'].mean()

0.32391